*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    background-color: azure;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 14px;
}
li, a{
    list-style: none;
    text-decoration: none;
}
header{
    display: flex;
    justify-content: space-between;
    align-self: center;
    padding: 20px;
    background-color: red;

.btn{
    font-family:sans-serif;
    color:red;
    background -color:brown   
}
}
* nav-links li{
            display:inline-block;
            margin: 18px;
}
.container{
    width: 80%;
    padding: 30px;
    text-align: center;
}
.box
#brand{
    margin-bottom: 28px;
}